{% extends 'base.html' %}

{% block title %}
    About
{% endblock title %}

{% block head%}
<style> 
.w100{
    width: 100%;
  }
  .item-image {
    max-width: 400px; 
    max-height: 200px; 
    object-fit: cover; }


@media (max-width: 768px) {
    .item-image {
      max-width: 100%
        max-height: 150px; 
    }
  }

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
</style>
{% endblock head %}

{% block body %}

<div class="d-flex justify-content-center mt-3">
  <h3>Want to Order? &nbsp;<i class="bi bi-telephone-outbound-fill"></i>  </h3>
</div>

<div class="d-flex justify-content-end">
  
    <a class="nav-link  dropdown-toggle mt-3 me-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-filter">
      {%if category%}
      {{category}}
      {%else%}  
      Categories
      {%endif%}
      </i>
    </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    
    {% if categories%}
    {% for category in categories %}
        <li><form action="{% url 'items_by_category'%}" method="post" class="w100">
          {% csrf_token %}
          <input type="hidden" value="{{category.pk}}" name = "category_id" >
          <input type="submit" class="btn btn-sm btn-outline-light pinkcolorbtn w100" value="{{category.name}}">
        </form></li>
    {% endfor %}
    {%endif %}
    <li><a href="{% url 'about' %}" class="btn btn-danger m-2 me-5">All</a>
    </li>
</ul>

  <a href="{% url 'cart_view' %}" class="btn btn-danger m-2 me-5 text-center"><i class="bi bi-cart"></i></a>
</div>

{% if items%}
<div class="row m-2 mt-1">
    {% for item in items%}
    <div class="col-md-4">
      <div class="card mb-4 box-shadow bg-light">
        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light shadow-1-strong rounded" data-mdb-ripple-color="light">
        {% if item.photo %}
        <img class="card-img-top item-image" src="{{item.photo.url}}" alt="Card image cap">
        {% endif%}
        </div>
        <div class="card-body">
            <div class="row mb-3">
          <h4 class="pinkhead">{{item.title}}</h4>
            </div>
            <div class="row mb-4">
          <p class="card-text">{{ item.description}}</p>
            </div>
            <div class="row mb-1">
                <div class="col-md-6">
          <h6 class="pinkhead">Price: {{item.price}}</h6>
                </div>
                <div class="col-md-6">
          <h6 class="pinkhead">Quantity: {{item.quantity}}</h6>
                </div>
            </div>
          <div class="d-flex justify-content-between align-items-center">
            <form action="{% url 'itemdetails'%}" method="post" class="w100">
              {% csrf_token %}
              <input type="hidden" value="{{item.pk}}" name = "item_id" >
              <input type="submit" class="btn btn-sm btn-outline-light pinkcolorbtn w100" value="More info">
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-center w100">
           
    <form action="/addItem" method="post" class="w100">
    {% csrf_token %}
    <input type="hidden" value="{{item.pk}}" name = "item_id" >
    <input type="submit" class="btn btn-sm btn-outline-light pinkcolorbtn w100" value="Add to Cart +">
  </form>
</div>
      </div>
    </div>
    {% endfor%}

    {% else%}
    
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>
                  Sorry!</h1>
              <h2>
                   No Item available Found</h2>
              <div class="error-details">
                  Sorry, the requested category doesn't contain any item at the moment!!!
              </div>
          </div>
      </div>
  </div>
</div>

{% endif %}

</div>




{% endblock body %}