{% extends 'base.html' %}

{% block title %}
Cart
{% endblock title %}

{% block body %}
<table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for item_id, cart_item in cart_items %}
      <tr>
        <td>{{ cart_item.title }}</td>
        <td>
          {{ cart_item.quantity }}
          
        </td>
        <td>Rs.{{ cart_item.price }}</td>
        <td>Rs.{{cart_item.sub_total}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="3"><strong>Total Price:</strong></td>
        <td><strong>Rs.{{ total_price }}</strong></td>
      </tr>
    </tbody>
  </table>


  <a href="{% url 'clear_cart' %}" class="btn btn-danger">Clear Cart</a>
  <a href="{% url 'checkout' %}" class="btn btn-info">Checkout
  </a>

{% endblock body %}




