{% extends 'base.html' %}

{% block title %}
Cart
{% endblock title %}

{% block head%}
<style>
  @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

   .bg-pink{
    background: #9a0f39;
    background-color: #9a0f39;
   } 
</style>
{%endblock head%}

{% block body %}


<!--bootstrap cart-->

<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row">

              <div class="col-lg-7">
                <h5 class="mb-3"><a href="{% url 'about' %}" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Your order</p>
                    <p class="mb-0">You have {{cart_items|length}} items in your cart</p>
                  </div>
                  
                </div>
                {% for item_id, cart_item in cart_items %}
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src="{{cart_item.photo}}"
                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>{{cart_item.title}}</h5>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 20px;">
                          <h5 class="fw-normal mb-0">{{cart_item.quantity}}</h5>
                        </div>  
                        <div style="width: 40px;">
                        <form action="{% url 'remove-quantity' %}" method = "post" class="m-2">
                          {% csrf_token %}
                          <input type="hidden" name="item_id" value="{{item_id}}">
                          <input type="submit" class="btn btn-secondary" value="-">
                        </form>
                      </div>
                      <div style="width: 100px;">
                        <form action="{% url 'add-quantity' %}" method = "post" class="m-2">
                          {% csrf_token %}
                          <input type="hidden" name="item_id" value="{{item_id}}">
                          <input type="submit" class="btn btn-secondary" value="+">
                        </form> 
                        </div>
                        <div style="width: 80px;">
                          <h5 class="mb-0">{{cart_item.price}}</h5>
                        </div>
                        <form action="{% url 'remove-item' %}" method = "post" class="m-2">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{item_id}}">
                        <input type="submit" class="btn btn-secondary" value="X">
                      </form> 
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor%}
                {% if cart_items%}
                <a href="{% url 'clear_cart' %}" class="btn btn-danger">Clear Cart</a>
                {% endif%}
              
              
              </div>

              <div class="col-lg-5">

                <div class="card  text-white rounded-3 bg-pink">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="mb-0">Summary</h5>
                    </div>


                    <hr class="my-4">

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Subtotal</p>
                      <p class="mb-2">Rs.{{total_price}}</p>
                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Taxes (GST.17%)</p>
                      <p class="mb-2">Rs. {{tax_pay}}</p>
                    </div>

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total(Incl. taxes)</p>
                      <p class="mb-2">Rs.{{gt}}</p>
                    </div>

                    {% if cart_items%}
                    <button type="button" class="btn btn-info btn-block btn-lg">
                      <div class="d-flex justify-content-between w100">
                        <a href="{% url 'checkout' %}" class="btn btn-info">Place Order
                        </a>        
                      </div>
                    </button>
                    {% endif%}
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>












{% endblock body %}




