{% extends 'base.html' %}

{% block title %}
    Categories
{% endblock title %}

{% block head%}
{% endblock head%}
{% block body%}

<div class="d-flex justify-content-end m-3 me-5">
    <a href="{% url 'category-create' %}" class="btn btn-success">Create Category</a>
</div>

<div class="container">
    <table class="table">
        <thead>
            <th scope="col">Category id</th>
            <th scope="col">Category Name</th>
            <th scope="col">Update</th>
        </thead>
        <tbody>
            {% for category in object_list%}
            <tr>
                <td>{{category.pk}}</td>
                <td>{{category.name}}</td>
                <td><a href="{% url 'category-update' category.pk %}" class="btn pinkcolorbtn">Update</a></td>
                <td><form method="POST" action="{% url 'category-delete' category.pk %}">
                    {% csrf_token %}<input type="submit" value="Delete" class="btn btn-danger">
                 </form></td>
            </tr>
            {%endfor%}
        </tbody>
{% endblock body%}