{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}

{%block head%}
<style>
.white{
  color: aliceblue;
}

.calculator{
  background-color: rgba(0,0,0,0.7);
  box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
  box-shadow: 2px;
  border: 1px solid rgba(255,255,255,0.3);
  color: aliceblue;
  padding: 25px;
  width: 300px;
  height: 350px;
  padding: 35px;
  margin-left: 20%;
}

.arealabel{
  font-weight: initial;
}

.predictbtn{
  padding: 2px;
  width:100%;
  margin-top: 20px;
  background: #9a0f39;
  color: aliceblue;
  border: 1px solid #9a0f39;
}

.predictbtn:hover{
  background: #fff;
  color: black;
}

.formheading{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.inputArea{
  width:100%;
  background: none;
  border: 1px solid aliceblue;
  color: aliceblue;
}

::placeholder{
  color: lightgray;
}

.flexbox{
  display:flex;
}

.pinkhead{
  color: #9a0f39;
  font-weight: bold;
}

.pinkbg:hover{
  color: #fff;
  background:  #9a0f39;
}

.w100{
  width: 320px;
}

</style>

{% endblock head%}

{% block body %}

<!--Carousel-->
<div class="container-fluid px-0">
 <div class="carousel-inner">
      
      <div class="carousel-item active">
        <img src="/static/images/dinner_dash.jpg" class="d-block w-100" alt="...">
        <div class="titleflex">
        <div class="pitch">
          <h1 class="pitchLinelight">Dinner Dash</h1>
          <button class="redbtn">Discover More</button>
          <button class=" transbtn">Meet our Team</button>
        </div>
        <br>
        <div class="calculator">
          <form action="/" method="POST">
             {% csrf_token %}
            <h2 class="white formheading">Taste it!!!</h2>
            <hr>
            <h5 class="white">Best food in town</h5>
            <hr>
            {% if zameenRate%}
            <h2 class="white" id="result">Rs.{{zameenRate}}</h2>
            {% endif%}
            <label for="area" class="arealabel">Area</label>
            <input type="text" id="area" class="inputArea" name="area" placeholder="Marlas" onclick="return clear()">
            <br>
            <input type="submit" class="predictbtn" value="Predict">
          </form>
        </div>
      </div>
      </div>
      
      
    </div>
    
    
  
    </div>
</div>
<!--/Carousel-->

  
  {% endblock body %}