{% extends 'base.html' %}

{% block title %}
    Categories
{% endblock title %}

{% block head%}
{% endblock head%}
{% block body%}

<div class="container">
    <table class="table">
        <thead>
            <th scope="col">Item id</th>
            <th scope="col">Title</th>
            <th scope="col">Available Quantity</th>
            <th scope="col"></th>
            
            
        </thead>
        <tbody>
            {% for category in object_list%}
            <tr>
                <td>{{category.name}}</td>
                <td><a href="{% url 'category-update' category.pk %}">Update</a></td>
            </tr>
            {%endfor%}
        </tbody>
{% endblock body%}