{% extends 'base.html' %}

{% block title %}
    Categories
{% endblock title %}

{% block head%}
{% endblock head%}
{% block body%}


<div class="d-flex justify-content-end m-3 me-5">
    <a href="{% url 'item-create' %}" class="btn btn-success">Create Item</a>
</div>


<div class="container">
    <table class="table table-responsive table-stripped table-hover">
        <thead class="thead-dark">
            <th scope="col">Item id</th>
            <th scope="col">Title</th>
            <th scope="col">Available Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Retired</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            
        </thead>
        <tbody>
            {% for item in object_list%}
            {% if item.is_retired%}
            <tr class="p-2 table-danger">
            {%else%}
            <tr class="p-2">
            {%endif%}
            <th scope="row">{{item.pk}}</th>
                <td>{{item.title}}</td>
                <td  class="text-center">{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.is_retired}}</td>                
                <td><a href="{% url 'item-update' item.pk %}" class="btn pinkcolorbtn"><i class="bi bi-pen"></i></a></td>
                <td><form method="POST" action="{% url 'item-delete' item.pk %}">
                    {% csrf_token %}<button type="submit" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                 </form></td>
            </tr>
            {%endfor%}
        </tbody>

        <script>

        </script>
{% endblock body%}