{% extends 'base.html' %}

{% block title %}
Checkout
{% endblock title %}

{% block body %}
<table class="table">
    <thead>
      <tr>
        <th>Order Id</th>
        <th>User Id</th>
        <th>Username</th>
        <th>Time</th>
        <th>Total<th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ order.pk }}</td>
        <td>
          {{ order.user.pk }}
          
        </td>
        <td>{{ order.user.username }}</td>
        <td>{{order.created_at}}</td>
        <td>Rs.{{total_price}}</td>
      </tr>
      
    </tbody>
  </table>

{% endblock body %}




